.content {
    background: rgba(0, 0, 0, 0.662);
}
.video {
    background: url("../tools/cute-pokemon.gif") no-repeat center center;
    justify-content: center;
} 
.content, .video {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    background-attachment:scroll;
}
.boxTitle {
    width: 500px; 
    height: 40px;
    margin: 70px 0 0 10%;
}
.title {
    color: rgb(238, 205, 59);
    font-size: 2.9rem;
    margin: 0;
}
.boxForm {
    padding: 30px 30px;
    width: 60%;
    height: auto;
    background-color: rgba(179, 149, 16, 0.782);
    border-radius: 60px;
    margin: 0 auto 25px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.containerTypes {
    height: 120px;
    width: 100%;
    margin: 0;
}
.subContainerTypes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.boxType1, .boxType2{
    width: 47%;
}
.input {
    width: 100%;
    height: 2.7rem;
    border-radius: 8px;
    border: none;
    font-family: 'VT323', monospace;
    font-size: 1.5rem; 
    padding-left: 15px ;
    color:rgb(130, 130, 130)
}
.containerInputsString {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
}
.name, .image {
    width: 47%; 
    height: 80px;
    background-color: transparent;
}
.inputString {
    width: 90%;
    height: 2.7rem;
    border-radius: 8px;
    border: none;
    font-family: 'VT323', monospace;
    font-size: 1.5rem; 
    padding-left: 15px ;
    color:rgb(130, 130, 130)
}
.containerInputs {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 15px 0;
}
.inputNum {
    width: 80px;
    height: 2.7rem;
    border-radius: 8px;
    border: none;
    font-family: 'VT323', monospace;
    font-size: 1.5rem; 
    padding-left: 15px ;
    color:rgb(130, 130, 130)
}
.number{
    width: 30%; 
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.textImage {
    font-size: 0.8rem;
    padding: 0;
    margin-top: 5px;
    font-family: 'Fredoka One', cursive;
    color: antiquewhite;
}
.subtitle {
    color:aliceblue;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'VT323', monospace;
    font-size: 2rem;
}
.error {
    color: rgb(123, 37, 37);
    font-family: 'Fredoka One', cursive;
    font-size: 0.7rem;
    margin-top: 5px;
}
.button {
    border-radius: 8px;
    background-color: aliceblue;
    width: 100%;
    border: none;
    color: #ce9b3d;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 2.7rem;
    margin: 0;
}
.button:hover {
    color: aliceblue;
    transition: 0.5s;
    background-color: #ce9b3d;
    transition: 0.5s;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media (max-width: 1100px) {
    .inputNum {
        width: 60px;
    }
}
@media (max-width: 990px) {
    .inputNum {
        width: 50px;
    }
}
@media (max-width: 920px) {
    .inputNum {
        width: 45px;
    }
    .subtitle {
        font-size: 1.9rem;
    }
}
@media (max-width: 850px) {
    .subtitle {
        font-size: 1.7rem;
    }
    .inputString, .input {
        font-size: 1.3rem; 
    }
}

@media (max-width: 800px) {
    .containerInputs {
        justify-content: space-evenly;
    }
    .number{
        width: 40%; 
    }
    .inputNum {
        width: 80px;
    }
}
@media (max-width: 750px) {
    .subtitle {
        font-size: 1.5rem;
    }
    .inputNum {
        width: 60px;
    }
    .inputString, .input {
        font-size: 1.2rem; 
    }
}  
@media (max-width: 700px) {
    .name, .image {
        width: 100%;
    }
}
@media (max-width: 600px) {
    .inputNum {
        width: 45px;
    }
    .subtitle {
        font-size: 1.5rem;
    }
    .number{
        width: 45%; 
    }
    .containerInputs {
        justify-content: space-between;
    }
    .title {
        font-size: 2.7rem;
    }
}
@media (max-width: 550px) {
    .title {
        font-size: 2.5rem;
    }
}
@media (max-width: 500px) {
    .number{
        width: 47%; 
    }
    .error {
        font-size: 0.6rem;
        margin-bottom: 5px;
    }
    .subtitle {
        font-size: 1.3rem;
    }
    .inputNum {
        width: 35px;
    }
    .input, .inputString, .inputNum {
        padding-left: 8px ;
    }
    .title {
        font-size: 2.3rem;
    }
}
@media (max-width: 450px) {
    .title {
        font-size: 2.1rem;
    }
}
@media (max-width: 410px) {
    .boxForm {
        padding: 30px;
        width: 70%;
    }
    .title {
        font-size: 1.8rem;
    }
    .boxTitle {
        margin: 70px 0 0 25px;
    }
}
