.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}    
.image {
    background-color: transparent;
    position: absolute;
    width: 100%;
    top: 0;        
    object-fit: cover;
    height: 350px;
}
.pokepokepoke {
    display: inline-block;
    margin-bottom: 180px;
}
.title{
    margin: 20% auto 0 auto;
    display: inline-block;
    position: relative;
    font-size: 4rem;
    font-family: 'Fredoka One', cursive;
    color: rgb(117, 163, 109);
    text-shadow: 13px 0 0 rgb(255, 255, 255),-13px 0 0 rgba(255, 255, 255),0 13px 0 rgba(255, 255, 255), 0 -13px 0 rgba(255, 255, 255);
}
.bigBox {
    background-image: url(../tools/pastitolargo.jpg);
    background-position: center center;
    background-attachment:scroll;
    background-size:contain;
}
.content {
    max-width: 992px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media (max-width: 700px) {
    .pokepokepoke {
        margin-bottom: 130px;
    }
    .title{
        margin: 28% auto 0 auto;
        font-size: 2.8rem;
    }
    .bigBox {
        background-size:cover;
    }
    .image {    
        object-fit: cover;
        height: 300px;
    }
}
@media (max-width: 480px) {
    .pokepokepoke {
        margin-bottom: 110px;
    }
    .nav {
        flex-direction:row;
        justify-content: center;
    }
    .links:hover{
        background: none;
        color: blue;
    }
    .title{
        margin: 35% auto 0 auto;
        font-size: 2rem;
    }
    .image {    
        height: 250px;
        width: 480px;
    }
    .bigBox {
        background-size:cover;
        width: 480px;
    }
}