.bigBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: url("../tools/blue.gif") no-repeat center center;
  background-size: cover;
  background-attachment: scroll;
}
.boxImage {
  margin-top: 80px;
  background-color: rgba(8, 29, 29, 0.701);
  border-radius: 60px;
  height: 500px;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.image {
  width: 80%;
}
.boxData {
  margin-top: 80px;
  background-color: rgba(8, 29, 29, 0.701);
  margin-left: 20px;
  width: 40%;
  height: 500px;
  border-radius: 60px;
  font-family: "Text Me One", sans-serif;
  font-size: 1.7rem;
  color: #e9efc0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.name {
  font-size: 4rem;
  margin: 0 auto;
  padding: 0;
  font-family: "Fredoka One", cursive;
  text-align: center;
}
.title {
  margin: 10px 0 0 0;
  font-family: "Text Me One", sans-serif;
}
p {
  margin: 0;
  display: inline-block;
  font-size: 1.6rem;
}
.prueba1 {
  padding: 10px 30px 0 30px;
}
.prueba2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.subtitleLeft,
.subtitleRigth {
  width: 130px;
  text-align: center;
}
.contentTypes {
display:flex;
flex-wrap: wrap;
font-family: "Text Me One", sans-serif;

}
.type {
  margin: 15px 5px 0 15px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media (max-width: 1115px) {
  .boxData,
  p {
    font-size: 1.5rem;
  }
  .subtitle {
    margin-right: 50px;
  }
  .prueba1 {
    padding: 0 30px 0 30px;
  }
}
@media (max-width: 990px) {
  .bigBox {
    flex-direction: column;
    align-items: center;
  }
  .boxImage {
    margin-top: 40px;
    height: 250px;
    width: 90%;
    border-radius: 60px 60px 0 0;
  }
  .boxData,
  p {
    font-size: 1.5rem;
    border-radius: 0 0 60px 60px;
  }
  .image {
    position: relative;
    right: 170px;
    top: 25px;
    width: auto;
    height: 100%;
  }
  .boxData {
    margin-top: 0;
    margin-left: 0;
    width: 90%;
    height: 250px;
  }
  .name {
    font-size: 4rem;
    position: absolute;
    right: 15%;
    top: 270px;
  }
  .contentId,
  .contentTypes {
    margin-left: 30px;
  }
}
@media (max-width: 935px) {
  .name {
    font-size: 3.5rem;
  }
  .subtitleLeft,
  .subtitleRigth {
    width: 200px;
  }
  .boxData,
  p {
    font-size: 1.3rem;
  }
  .boxData {
    height: 300px;
  }
  .boxImage {
    margin-top: 80px;
  }
}
@media (max-width: 733px) {
  .boxData,
  p {
    font-size: 1.2rem;
  }
  .subtitleLeft,
  .subtitleRigth {
    width: 150px;
  }
  .name {
    font-size: 3rem;
    position: relative;
    right: 0;
    top: 0;
  }
  .image {
    margin-top: 20px;
    position: relative;
    right: 0;
    top: 0;
  }
}
@media (max-width: 566px) {
  .subtitleLeft,
  .subtitleRigth {
    width: 125px;
  }
  .boxData {
    height: 370px;
  }
}
@media (max-width: 380px) {
  .boxData {
    height: 280px;
  }
  .boxImage {
    margin-top: 40px;
    height: 130px;
  }
  .image {
    margin-top: 5px;
  }

  .name {
    font-size: 2rem;
  }
  .boxData,
  p {
    font-size: 1rem;
  }
  .subtitleLeft,
  .subtitleRigth {
    width: 70px;
    height: 50px;
  }
  .contentId,
  .contentTypes {
    margin-left: 0px;
  }
}
