.contents {
    width: 99%;
    margin: 10px auto 0 auto;
    position: relative;
}
.button, .buttonAll {
    border-radius: 8px;
    background-color: aliceblue;
    border: none;
    color: #61957c;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 1.3rem;
    margin: 5px 5px 0 0;
}
.buttonAll {
    width: 100%;
}
.orderName, .filterTypes, .filterCreated, .boxOrder{
    display: flex;
}
.buttonOrder1, .buttonOrder2, .buttonExis, .buttonCrea {
    width: 50%;
    border-radius: 8px;
    background-color: aliceblue;
    border: none;
    color: #61957c;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 1.3rem;
    margin-top: 5px;
}
.buttonAll:hover {
    background-color: #33674e;;
    transition: 0.3s;
}
.buttonOrder1, .buttonExis {
    margin-right: 5px;
}
.buttonExis:hover {
    background-color: #33674e;;
    transition: 0.3s;
}
.buttonCrea:hover {
    background-color: #33674e;;
    transition: 0.3s;
}
.buttonOrder1:hover {
    background-color: #33674e;;
    transition: 0.3s;
}
.buttonOrder2:hover {
    background-color: #33674e;;
    transition: 0.3s;
}
.filterTypes{
    flex-wrap: wrap;
    justify-content: center;
}
.button:hover {
    background-color: #33674e;;
    transition: 0.3s;
}
.boxOrder {
    margin-top: 5px ;
    color: aliceblue;
    font-family: 'VT323', monospace;
    font-size: 1.3rem;
    flex-wrap: wrap;
    justify-content: space-around;
}
.orderArrow {
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
}
.orderArrow:hover {
    background-color: #33674e;;
    transition: 0.3s;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media (max-width: 750px) {
    .button, .buttonAll, .buttonOrder1, .buttonOrder2, .buttonExis, .buttonCrea {
        font-size: 1.1rem;
    }
    .orderArrow {
        background-color: transparent;
        border: none;
        font-size: 1.1rem;
    }
} 
@media (max-width: 550px) {
    .button, .buttonAll, .buttonOrder1, .buttonOrder2, .buttonExis, .buttonCrea {
        font-size: 1.5rem;
        height: 1.6rem;    }
    .boxOrder, .orderArrow  {
        font-size: 1.5rem;
    }
}
@media (max-width: 400px) {
    .button, .buttonAll, .buttonOrder1, .buttonOrder2, .buttonExis, .buttonCrea {
        font-size: 1.7rem;
        height: 1.7rem;
    }
    .boxOrder, .orderArrow  {
        font-size: 1.7rem;
    }
}

@media (max-width: 380px) {
    .button, .buttonAll, .buttonOrder1, .buttonOrder2, .buttonExis, .buttonCrea {
        font-size: 1.2rem;
        height: 2rem;
    }
    
    .boxOrder, .orderArrow  {
        font-size: 1.4rem;
    }
}